@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

:root {
  --background-color: #312e2f;
  --text-color: #faf9f6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  margin: auto;
  width: 1024px;
  display: grid;
  grid-template-columns: 70% 30%;
}